* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Arial, sans-serif;
}


body {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	transition: width .5s ease-in;
}

#chatio {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 80%;
	max-width: 100%;
	max-height: 100%;
	left: 50%;
	transform: translate(-50%);
	background-color: rgba(255, 255, 255, 0.795);
	padding: 1rem;
}

#chatio.active {
	justify-content: end;
	height: initial;
	bottom: 0;
	/* background-color: initial; */
}

#chatio.active img.chat-logo {
	display: none;
}

#chatio.active .chat-container .chat-area {
	max-height: 150px;
}

/* send-container */
#chatio .client-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* flex-flow: wrap; */
	align-items: center;
	/* align-content: stretch; */
	padding: 10px;
}

#chatio .client-container .name-input {
	position: relative;
	/* background-color: rgb(255, 255, 255); */
	background-color: rgba(255, 255, 255, 0.199);
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 7px;
	color: black;
	text-align: center;
	font-size: 1.3rem;
	margin: 0;
	z-index: 1;
}

#chatio .client-container .nameneeded {
	position: relative;
	width: 100%;
	border-radius: 7px;
	overflow: hidden;
	background-color: #ffd5d2;
}

#chatio .client-container .nameneeded .nameneeded-item {
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	z-index: 0;
	background-color: #3ee8ff;
	transition: width .5s ease-in-out;
}

#chatio .client-container .name-input:focus {
	outline: 2px solid rgb(94, 255, 0);
}

#chatio .client-container .name-input.bad:focus {
	outline: 2px solid rgb(255, 145, 0);
}

#chatio .client-container button.name-button {
	padding: 5px;
	font-size: 1.2rem;
	border-radius: 10px;
	margin-left: 5px;

}

#chatio .client-container button.name-button:hover {
	background-color: rgb(94, 255, 0);
}



/* MYFOLDER */
#chatio .rooms {
	/* position: fixed;
	top: 0; */
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 7px;
	font-size: 1.2rem;
	justify-content: center;
}

#chatio .folders {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 7px;
	font-size: 1.2rem;
}

#chatio .rooms .room-item,
#chatio .roomers .roomers-item,
#chatio .folders .folder-item {
	padding: 5px 10px 7px 10px;
	line-height: 100%;
	background-color: #2c9cb3;
	color: #ffd5d2;
	margin-right: 2px;
	cursor: pointer;
}

#chatio .rooms .room-item:hover:not(:first-child),
#chatio .roomers .roomers-item:hover:not(:first-child),
#chatio .folders .folder-item:hover:not(:first-child) {
	background-color: #f6ada8;
	color: #2c9cb3;
}

#chatio .rooms .room-item:first-child,
#chatio .roomers .roomers-item:first-child,
#chatio .folders .folder-item:first-child {
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

#chatio .rooms .room-item:last-child,
#chatio .roomers .roomers-item:last-child,
#chatio .folders .folder-item:last-child {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	margin-right: 0;
}

#chatio .rooms .room-item:not(:first-child):hover {
	transform: scale(1.1) rotate(-15deg);
	margin-top: -2px;

}

/* CHECKS */
#chatio .check-item {
	border-radius: 9px;
	margin-bottom: 9px;
	background-color: #ffd5d2;
	color: #2c9cb3;
	padding: .5rem;
	border: 2px solid #b3572c;
	background-color: #fff3d2;
	color: #802515;
}

#chatio .check-item.title {
	background-color: #e8fbff;
	color: #000000;
}

#chatio .check-item.ok {
	border: 2px solid #2c9cb3;
	background-color: #e0ffd2;
	color: #158035;
}

#chatio .check-item.reload {
	border: 2px solid #b3572c;
	/* background-color: #ffd2d2;
	color: #158035; */
	background-color: #e8fbff;
	color: #000000;
}

#chatio .check-item.reload a {
	color: #ff0000;
}

#chatio .check-item.reload a:visited {
	color: #000000;
}

/* chat-container */
#chatio .chat-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	flex: auto;
	height: 100%;
}

/* chat area */
#chatio .chat-container .chat-area {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	padding: 6px 5px 0 5px;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border: 1px solid rgb(173, 173, 173);
	/* margin-bottom: 1rem; */
	display: flex;
	flex-direction: column;
	/* justify-content: end; */
	background-color: rgba(240, 248, 255, 0.637);
}

#chatio .chat-container .chat-area .message {
	background-color: rgb(226, 226, 226);
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 7px;
	font-size: 1rem;
}

#chatio .chat-container .chat-area .message span.new {
	background-color: rgb(222, 248, 28);
}

/* send-container */
#chatio .chat-container .send-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#chatio .chat-container .send-container .message-area {
	width: 100%;
	height: 50px;
	color: black;
	border-bottom-left-radius: 9px;
	padding: 5px;
	border: 1px solid rgb(121, 121, 121);
	font-size: 1.1rem;
	border-top: 0;
}

#chatio .chat-container .send-container button.send-button {
	padding: 5px;
	font-size: 1.2rem;
	margin-left: 5px;
	height: 50px;
	margin: 0;
	border-bottom-right-radius: 9px;
	border: 1px solid rgb(121, 121, 121);
	border-left: none;
	border-top: 0;
}

.roomers {
	position: fixed;
	top: 0;
	right: 0;
	width: max-content;
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 7px;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.089);
}

@media screen and (max-height: 400px) {
	body {
		background-image: url(/assets/logoChat.png);
		background-attachment: fixed;
		background-position: top center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	#chatio {
		width: 100%;
	}

	#chatio .chat-container {
		width: 100%;
	}

	#chatio .chat-container .send-container {
		margin: 0;
	}

	#chatio .chat-logo {
		display: none;
	}
}
